<div class="signup">
  <div class="container">
    
    <%= form_for @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Create", :class => "btn-submit" %>
    <% end %>

  </div>
</div>